.radio-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .radio-group label:nth-child(even) input[type="radio"]{
      accent-color: red; 
    }
    .radio-group input[type="radio"]:disabled {
      cursor: not-allowed;
    }